
:root {
    --Eggshell: #F4F1DE;
    --Sienna-Burnt: #E07A5F;
    --Blue-Delft: #3D405B;
    --Blue-Cambridge: #81B29A;
    --Light-Blue-Cambridge:  #92b5a4;
    --Sunset: #F2CC8F;
    --white: #FFFFFF;
    --black: #000000;
}

body {
    width: 100%;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: var(--Sunset);
    font-size: 1.5rem;
} 

body h1, h2, h3, h4 {
    font-family: 'Caveat', sans-serif;
}

body p {
    font-family: 'Josefin Slab', sans-serif;
}

body tr {
    font-family: 'Josefin Slab', sans-serif;
}

body button {
    background-color: var(--Light-Blue-Cambridge);
}

body button:hover {
    background-color: var(--white);
}

body button:active {
    background-color: var(--Blue-Delft);
    color: var(--Light-Blue-Cambridge);

}

/* nav styling */

.nav-section {
    width: 100vw;
}

.nav-container {
    max-width: 100%;
    min-width: 100%;
    padding: 20px 10px 20px 10px;
    border-right: solid 5px var(--Sienna-Burnt);
    background-color: var(--Sienna-Burnt);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Caveat', sans-serif;
}

.nav-container-2 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    padding-top: 20px; padding-bottom: 20px;
    background-color: var(--Sienna-Burnt);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Caveat', sans-serif;
}

.nav-logo-background {
    width: 10%;
}

.nav-logo-background img:hover {
    background-color: var(--Eggshell);
}

.nav-banner-img {
    max-width: 100%;
    min-width: 100%;
    background-color: var(--Light-Blue-Cambridge);
}

.nav-logo-img {
    max-width: 100%;
    min-width: 100%;
    background-color: var(--Light-Blue-Cambridge);
}

.nav-menu-container {
    width: 70%;
    margin-right: 5%;
}

.nav-menu-container-2 {
    max-width: 100%;
    min-width: 70%;
    display: flex;
    justify-content: space-around;
} 

.nav-menu-list {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    align-items: center;
}

.nav-horizontal-menu {
    margin-left: 0.3em;
    margin-right: 0.3em;
}

.profile-dropdown-container {
    display: flex;
    flex-direction: column;

}

.nav-horizontal-menu ul {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding-top: 0;
    /* padding-left: 0.5em; */
}

.nav-horizontal-menu li {
    display: block;
    position: relative;
    top: 0.5em;
}

.profile-dropdown-menu {
    position: relative;
   
}

.profile-dropdown-styling {
    display: none;
    position: absolute;
    z-index: 1;
    border: solid 2px var(--Light-Blue-Cambridge);
    background-color: var(--Light-Blue-Cambridge);
    padding-bottom: 1em;

}

li:hover .profile-dropdown-styling {
    display: block;
}

.nav-link-styling {
    text-align: center;
}

.nav-link-styling a:link {
    color: var(--white);
    text-decoration: none;
    border-radius: 2em;
    padding: 0.5em;
}

.nav-link-styling a:visited {
    color: var(--white);
}

.nav-link-styling a:hover {
    color: var(--black);
    font-weight: bold;
}

.nav-link-styling a:active {
    background-color: var(--Sunset);
    color: var(--Blue-Delft);
    font-weight: bold;
}

.profile-dropdown-styling a:link {
    color: var(--white);
    text-decoration: none;
    border-radius: 0.1em;
    padding: 0.2em;
}

.nav-link-styling a:visited {
    color: var(--white);
}

.nav-link-styling a:hover {
    color: var(--black);
    font-weight: bold;
}

.nav-link-styling a:active {
    background-color: var(--Sunset);
    color: var(--Blue-Delft);
    font-weight: bold;
}

/* pentagram design styling */

.pentagram {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-top: 0.2em;
}

.line {
    position: relative;
    margin-bottom: 0.2em;
    width: 100%;
    height: 3px;
    background-color: var(--Sienna-Burnt);
  }

/* content section styling */

.content-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}


.text-container-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 70%;
    background-color: var(--Eggshell);
    padding: 5%;
    border: 8px solid var(--blue);
    border-radius: 20px;
}

.text-container-1 h1, h2, p {
    text-align: center;
}



.text-container-1 p {
    text-align: justify;
    font-family: 'Josefin Slab', sans-serif;
}


.features-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1em;
}

.text-container-2 {
    width: 40%;
    background-color: var(--Light-Blue-Cambridge);
    border: 0.5em solid var(--Light-Blue-Cambridge);
    border-radius: 50%;
    margin-top: 1em;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.text-container-2 h2, ul {
    margin: 0;
}

.text-container-2 p {
    text-align: center;   
}

.planner-sample {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.planner-sample h3 {
    margin-top: 2em;
    margin-bottom: 0.em;
    padding-right: 50%;
}

.feature-example-img {
    width: 70%;
    border-radius: 10px;
}

.content-header {
    overflow-wrap: break-word;
} 

.collection-details-list {
    display: flex;
    justify-content: center;
    font-family: 'Josefin Slab', sans-serif;
}

/* create account page styling */

.create-account-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1.5em;
}

.create-account-buttons button {
    padding: 1em;
    border-radius: 5em;
}

@media screen and (max-width: 769px) {
    .create-account-buttons {
        flex-direction: column;
    }

    .create-account-buttons button {
        margin-bottom: 1.5em;
    }
    
}

/* account settings page styling */

.account-settings-menu {
    width: 50%;
    margin: auto;

}

.account-settings-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    width: 100%;
}

.account-settings-buttons button {
    padding: 1em;
    border-radius: 5em;
    margin-bottom: 1.5em;

}

/* pp list and student roster page styling */

.table-header { 
    text-align: center;
}

.manage-table {
    border: 5px solid var(--Light-Blue-Cambridge);
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0.5em;
    border-collapse: collapse;
    width: 80%;
    min-width: 10%;
    font-family: 'Josefin Slab', sans-serif;
}


.manage-table th {
    border: 3px solid var(--Light-Blue-Cambridge);
    background-color: var(--Light-Blue-Cambridge);
    padding: 0.4em;
    font-weight: bold;
    text-align: center;
}

.manage-table td {
    border: 3px solid var(--white);
    padding: 0.2em;
    text-align: center;
}

.manage-pp-select {
    padding: 0.2em;
    border-radius: 0.3em;
}

@media screen and (min-width: 340px) and (max-width: 769px) {

    .table-container {
        margin-bottom: 2em;
    }

    .table-wrapper {
        max-width: auto;
        display: flex;
        overflow-x: auto;
    }

}

/* profile form styling */

.profile-form-container {
    width: 80%;
    margin: auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Slab', sans-serif;
}

.profile-form-fields {
    width: 100%;
}

.profile-form-section {
    width: 100%;
    margin: auto;
    display: flex;   
    flex-direction: row; 
    margin-bottom: 1.5em;
    justify-content: space-around;
}

.profile-pic-section-container {
    width: 100%;
    margin: auto;
    display: flex;   
    flex-direction: row; 
    margin-bottom: 1.5em;
    justify-content: space-between;
}

.profile-pic-section-container label {
    width: 6em;
    min-width: 6em;
}

.profile-form-section label {
    width: 6em;
    min-width: 6em;
}

.profile-form-section input {
    width: 20em;
    min-width: 9em;
    padding: 0.5em;
}

.profile-form-section textarea {
    width: 20em;
    min-width: 9em;
    height: 10em;
    padding: 0.5em;
}

.profile-pic-section {
    width: 65%;
    display: flex;
    display: flex;
    /* justify-content: space-around; */
}

.profile-pic-thumbnail-container {
    width: 6em;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.profile-pic-thumbnail {
    margin: auto;
    width: 6em;
    min-width: 5em;
    height: 6em;
    border: solid 2px var(--black);
    background-color: var(--white);
}

.profile-pic-input-container {
    padding-left: 4em;

}

.profile-form-section button {
    padding: 0.5em;
    border-radius: 5em;
    margin-left: 1em;
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .profile-pic-section-container {
        width: 100%;
        margin: auto;
        display: flex;   
        flex-direction: column; 
        margin-bottom: 1.5em;
        justify-content: center;
        text-align: center;
    }

    .profile-pic-section-container label {
        padding-bottom: 0.2em;
    }

    .profile-form-section {
        width: 100%;
        margin: auto;
        display: flex;   
        flex-direction: column; 
        margin-bottom: 1.5em;
        justify-content: center;
        
    }

    .profile-form-section label {
        padding-bottom: 0.2em;
    }

    .profile-form-section input {
        width: 22em;
        padding: 0.5em;
        margin-bottom: 0.5em;
    }
    
    .profile-form-section textarea {
        width: 22em;
        height: 10em;
        padding: 0.5em;
        margin-bottom: 0.5em;
    }

    /* .save-button {
        margin: auto;
    } */

    .profile-form-section button {
        margin-left: 0;
    }
}

@media screen and (max-width: 768px) {

    .profile-pic-section-container {
        width: 100%;
        margin: auto;
        display: flex;   
        flex-direction: column; 
        margin-bottom: 1.5em;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .profile-pic-section-container label {
        padding-bottom: 0.2em; 
    }

    .profile-pic-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-form-section {
        width: 100%;
        margin: auto;
        display: flex;   
        flex-direction: column; 
        margin-bottom: 1.5em;
        justify-content: center;
        align-items: center;
    }

    .profile-form-section label {
        text-align: center;
        padding-bottom: 0.2em;
    }

    .profile-form-section input {
        width: 100%;
        padding: 0.5em;
        margin-bottom: 1em;
    }
    
    .profile-form-section textarea {
        width: 100%;
        height: 10em;
        padding: 0.5em;
        margin-bottom: 1em;
    }
    
    .profile-form-section button {
        margin-left: 0;
    }
}

/* new pp form styling */

.new-pp-form-container {
    width: 100%;
    margin: auto;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Josefin Slab', sans-serif;
}

.new-pp-form-fields {
    width: 100%;
}

.pp-section {
    width: 100%;
    display: flex;   
    flex-direction: row; 
    margin-bottom: 1.5em;
    align-items: center;
}

.pp-label-input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    align-items: left;
}


.pp-textarea {
    width: 100%;
    min-width: 1em;
    max-width: 50em;
    min-height: 10em;
    max-height: 10em;
    margin: 0.5em;
    padding: 0.5em;
} 

.pp-tools, .pp-notes  {
    padding-left: 0.5em;
}


.pp-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: 2em;
}

.pp-buttons button {
    padding: 1em;
    border-radius: 5em;
}


@media screen and (max-width: 769px) {

    .pp-section {
        margin-top: 1em;
    }

    .new-pp-form-container {
        width: 100%;
        margin: 0.2em;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Josefin Slab', sans-serif;
    }

    .new-pp-form-container {
        width: 100%;
        margin: 0;
        padding-left: 0.8em;
        padding-right: 0.8em;
    }

    .pp-label-input-container {
        margin: 0;
       
    }

    .pp-section {
        display: flex;    
        flex-direction: column;
    }

    .pp-textarea {
        box-sizing: border-box;
        width: 100%;
        align-self: center;
        min-width: 1em;
        max-width: 90%;
        min-height: 10em;
        flex-basis: 10em;
        margin-top: 0.5em;
        margin-left: 0;
        margin-right: 0;
        padding: 0.5em;
    }

    .pp-buttons {
        margin-top: 0;
        margin-bottom: 0;
        flex-direction: column;
        align-items: center;
    }

    .pp-buttons button {
        margin-bottom: 2em;
    }

} 


/* form styling */

.form-container {
    width: 90%;
    margin: 0.2em;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Josefin Slab', sans-serif;
}


.enter-button button {
    padding: 1em;
    border-radius: 5em;
}

.form-fields {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.enter-button {
    align-self: center;
}

.form-fields >span {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
}

/* login form */

.form-fields input[type=username],
.form-fields input[type=password] {
    box-sizing: border-box;
    flex-grow: 2;
    width: 50vw;
    min-width: 1em;
    max-width: 20em;
    flex-basis: 100em; 
    padding:0.5em;
    margin-top: 0.5em;
    margin-left: 0.2em;
}

.form-fields label {
    flex-grow: 2;
    flex-basis: 100%;
    text-align: right;
    margin: auto;
}

@media screen and (max-width: 769px) {

    .form-container {
        max-width: 100%;
        margin: 1.5em;
        padding-left: 0.8em;
        padding-right: 0.8em;
    }

    .label-input-container {
        flex-direction: column;
    }

    .form-fields label {
        margin: auto;
        text-align: center;
        
    }

    .form-fields input[type=username],
    .form-fields input[type=password] {
    box-sizing: border-box;
    flex-grow: 2;
    width: 60vw;
    min-width: 1em;
    max-width: 20em;
    flex-basis: 1em; 
    padding: 0.5em;
    margin: 0;
    }


    .form-fields input[type=username],
    .form-fields input[type=password] {
        flex-shrink: 2;

    }
}

    /* update & create form */
.form-fields input[type="title"],
.form-fields input[type="author"],
.form-fields input[type="genre"],
.form-fields input[type="genre"],
.form-fields input[type="number-pages"],
.form-fields input[type="rating"],
.form-fields select {
    box-sizing: border-box;
    flex-grow: 2;
    width: 50vw;
    min-width: 1em;
    max-width: 20em;
    flex-basis: 100em;
    padding: 5px;
    margin-right: 1.5em;
}

@media screen and (max-width: 768px) {
    .form-fields input[type="title"],
    .form-fields input[type="author"],
    .form-fields input[type="genre"],
    .form-fields input[type="genre"],
    .form-fields input[type="number-pages"],
    .form-fields input[type="rating"], 
    .form-fields select {
        margin-right: 3.4em;
        flex-shrink: 2;
    }
}

/* footer styling */

.footer-section {
    width: 100%;
}

.footer-container {
    max-width: 100%;
    min-width: 100%;
    background-color: var(--Sienna-Burnt);
    font-family: 'Caveat', sans-serif;
    padding-bottom: 1em;
    padding-left: 0;
    padding-right: 3em;
    margin: 0;
    display: flex;
    justify-content: center;
}

.footer-menu {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.footer-menu h3 {
    margin-top: 1em;
    margin-bottom: 0.2em;
}

.product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin-right: 0;
}

.footer-hannah-lovez-logo {
    position: relative;
    left: 1em;
    border-radius: 50%;
    background-color: #81B29A;
}

.product h3{
    margin-right: 0;
    
}

.footer-socials {
    display: flex;
    justify-content: space-between;
}

.fa-brands {
    font-size: 1em;
}

.footer-menu-container {
    width: 100%;
}

.footer-text-styling h3 {
    color: var(--yellow);
}

.footer-text-styling {
    color: var(--white);
}

.footer-link-styling a:link { 
    text-decoration: none;
    color: var(--white);
    border-radius: 2em;
    padding: 0.2em;
}

.footer-link-styling a:visited {
    color: var(--white);
}

.footer-link-styling a:hover {
    font-weight: bold;
    color: var(--black);
}

.footer-link-styling a:active {
    background-color: var(--Sunset);
    color: var(--Blue-Delft);
    font-weight: bold;
}

/* MEDIA QUERIES */

    /* nav styling queries  */

    @media screen and (max-width: 1024px) {
        .nav-section {
            width: 100%;
        }
        
    }

    @media screen and (min-width: 769px) {

        .nav-logo-background {
            max-width: 100%; 
        }
    }
    
    @media screen and (max-width: 768px) {
    
        .nav-container {
            min-width: 100%;
            display: flex;
            justify-content: center;
        }
    
        .nav-logo-background {
            min-width: 20%;
            padding-left: 0.5em;
        }
    }

    @media screen and (min-width:769px) {
        .hamburger-menu {
            display: none;
        }  
    }
    
    @media screen and (max-width: 768px) {
        
        .nav-menu-list {
            display: none;
        }
    
        .hamburger-menu {
            margin-right: 10%;
        }  
        
    }

    /* content section queries */

    @media screen and (max-width: 769px) {

        .text-container-1 {
            margin: auto;
            margin-top: 0.5em;
            width: 80%;
            padding: 0.4em;
            align-self: center;
        }

        .text-container-1 h1 {
            margin-top: 0.5em;
            margin-bottom: 0.2em;
        }

        .text-container-1 p {
            text-align: center;
        }
    
        .text-container-2 {
            width: 90%;
            background-color: var(--Light-Blue-Cambridge);
            border: 0.5em solid var(--Light-Blue-Cambridge);
            border-radius: 50%;
            padding-top: 3em;
            padding-left: 1em;
            padding-right: 1em;
            display: flex;
            align-items: center;
    
        }

        .features-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        .planner-sample {
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    
        .planner-sample h3 {
            padding: 0;
        }
    
        .feature-example-img {
            width: 80%;
            align-self: center;
            border-radius: 10px;
        }
        
    }

    /* footer media queries */

    @media screen and (max-width: 767px) {

        .footer-container {
            max-width: 100vw;
            min-width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
        .footer-menu {
            width: 100%;
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-wrap: wrap;
            box-sizing: border-box;
            max-width: 10em;
            text-align: center;
        }
    
        .footer-menu >div {
            margin-bottom: 0.5em;
        }
    
        .footer-socials {
            width: 100%;
            align-self: center;
            display: flex;
            justify-content: space-around;
        }
        
        .fa-brands {
            font-size: 2em;
        }

        .footer-hannah-lovez-logo {
            max-width: 5em;
            min-width: 2em;
            position: relative;
            left: 0;
        }
        
    }

    @media screen and (min-width: 769px) {

        .footer-container {
            width: 100%;
        }

        .footer-menu {
            width: 100%;
        }

        .footer-hannah-lovez-logo {
            width: 1em; 
            align-self: center;
        }
    
        .footer-hannah-lovez-logo {
            max-width: 60%;
            min-width: 60%;
        } 

    }
    
    @media screen and (max-width: 768px) {
    
        .footer-hannah-lovez-logo {
            max-width: 5em;
            min-width: 2em;
            position: relative;
            left: 0;
        }
    
    }